
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2222;
}

header .logo2{
    position: relative;
    font-weight: 700;
    top: 10px;
    left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
/* add  */

.aboutus{
    position: relative;
    /* font-weight: 700; */
    /* top: 10px; */
    /* left: 10px; */
    font-family: 'Oswald', sans-serif;
    /* font-size: 2rem; */
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}



header.sticky .logo2{
    color: black;
    top: 0;
    left: 0;
}

/* .aboutus.sticky */


header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
    top: 10px;

}
header.sticky ul{

    top: 0;

}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:  0 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}
header ul li a:hover{
    color: #e75480;
}


header.sticky{
    padding:  15px 10px;
    background: #fff;
    /* border-radius: 100% 0% 100% 0% / 0% 20% 50% 20% ;  */
    box-shadow: 0px 6px 4px #0000003b;
}

header.sticky ul li a {
     color: black;
}
header.sticky ul li a:hover {
    color: #e75480;
}

.hero{
    width: 100%;
    /* margin-left: 10%; */
    height: 100vh;
    display: flex;
    /* border-radius: 100% 0% 100% 0% / 20% 80% 20% 80% ; */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    background-color: black; 
    
}


.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: aliceblue;
    text-transform: uppercase;
    /* font-family: 'Dela Gothic One', cursive; */
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

/* .title{
    position: absolute;
    bottom: 10px;
    left: 100px;
} */

/* .title h3 {
    font-family: 'Oswald';
    font-size: 1rem;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
} */

/* .title p{
    color: #fff;
    font-size: 1rem;
    word-spacing: 1rem;
    opacity: 0.8;
    margin-bottom: 20PX;
} */

.title button{
    padding: 10px 15px;
    text-align: center;
    border: none;
    /* text-decoration: none; */
    font-family:  sans-serif;
    font-size: 16px;
    /* display: inline-block; */
    cursor: pointer;
    color: aliceblue;
}
.title .btn1{
    background-color: #e75480;
    border: #e75480 solid 1px;
    cursor: pointer;

}

.title .btn2{
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 10px;
    cursor: pointer;

}

.title a{
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.title a i{
    font-weight: 700px;
    font-size: 0.7em;
    margin-left: 10px;
}

.hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 0px -165px;
    
    opacity:0.5;
    z-index: -51;
    /* transition: 2s; */
    margin-bottom: 10px;
    
}


.img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.367); 
}


.searchBox{
  width: 20%;
    height: 40px;
    /* background-color: #fff; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.searchBox > i{
    font-size: 20x;
    color: #777;
}

.line{
    width: 25%;
    border: none;
    height: 2px;
    background-color: #F15178;
    margin: 0;
}

.ratingBox{
    width: 15%;
    height: 15vh;
    background-color: #0A0E11;
    position: absolute;
    top: 430px;
    right: 100px;
    border-radius: 10px;
}

.ratingBox p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    

}
.ratingBox .rating{
    display: flex;
    padding: 0;
    margin: 25px;

}

.rating li{
    list-style-type: none;
}
.rating-Item{
    cursor: pointer;
    font-size: 2em;
    color: #F15178;
}
.rating-Item::before{
    content: "\2605";
}

.rating-Item.active ~ .rating-Item::before{
    content: "\2606";
}

.rating:hover .rating-Item::before{
    content: "\2605";
}
.rating-Item:hover ~ .rating-Item::before{
    content: "\2606";
}

.moviesList{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
}

.nav2{
    margin-top: 1rem;
    width: 100%;
    height: 5vh;
    list-style: none;
}

.nav2 ul{
    list-style: none;
    width: 22%;
    margin-left: 39%;
}

.nav2 ul li {
    display: inline-block;
    padding: 0 15px;
    margin: 10px;
}
.nav2 ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
}
.nav2 ul li a:hover{
    color: #e75480;
}


.moviesCard{

    margin-top: 1rem;
    /* background-color: blue; */
    width: 100%;
    height: 80vh;
}

.moviesCard .card{
    display: inline-block;
    width: 20%;
    margin-left: 40px;
    margin-top: 20px;
    height: 55vh;
    /* background-color: #e75480; */
    border: 2px solid #e75480;
}

.moviesCard .card img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.moviesCard .card p{
    font-size: 1rem;
    text-align: center;
    font-weight: 200px;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
}
  /* .hero h3 {
  } */

.aboutus{
  /* font-size: 30px; */
  color: #e75480;
}

#parallax{
    width: 30px;
}

#movieName{
    font-size: 50px;
   

    
    position: absolute; 
    top: 0px;
    bottom: 300px;
}

#categories{
    /* position: absolute;
    bottom: 80%;
    left: 50px; */

    font-size: 40px;
    /* margin-right: 7%;
    /* margin-bottom: %; */
    /* margin-left: 2.1%;
    margin-top: 2%; */
    /* word-spacing: 0 */
    
}
#pad{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
}

#cover{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
}

.aboutall{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 7%;

    margin-right: 20%;
}

.aboutf{
    color: #e75480;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 3%;
}

.aboutp{
    font-size: 30px;
}

#movieName{
    color: #e75480;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 7%;
}

#categories{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 80%;
    left: 7%;

    margin-right: 25%;
}

/* .cont{
    border-radius: 25px
} */

/* .licard{
    width: 10px;

 }  */


 .fa-instagram:before{
    content: "\f16d";
    font-size: 50%;

    position: absolute;
    top: 17px;
    left: 19px;
}
.fa-facebook:before{
    content: "\f16d";
    font-size: 50%;

    position: absolute;
    top: 18px;
    left: 23px;
}
.fa-linkedin:before{
    content: "\f16d";
    font-size: 50%;

    position: absolute;
    top: 17px;
    left: 19px;
}
.fa-twitter:before{
    content: "\f16d";
    font-size: 50%;

    position: absolute;
    top: 18px;
    left: 19px;
}

/* .fa::before{

} */


.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 10px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3b5999;
    color: white;

    /* width: 20px;
    height: 20px; */
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #e75480;
    color: white;
  }

/* .fa-instagram{
    width: 30% !important;
    height: 20PX;

} */
    
.sectionCards{
    
    margin: 0%;
    margin-top: 60px;
    padding: 0%;
    box-sizing: border-box;
    
    font-size: 10px;
}

.licard{
text-transform: uppercase;
font-size: 3.5rem;
letter-spacing: 3px;
margin-right: .3px;
margin-bottom: 5rem;
text-align: center;
color: #333;
position: relative;
}

.team::after{
    content: "";
    width: 30rem;
    height: 0.8rem;
    background-color: #e75480;
    position: absolute;
    bottom: -19rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}

.cardWrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.cards{
    width: 6rem; 
    /* 32 */
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 5rem 5rem 3rem rgba(0, 0, 0, 0.2);

}

.imgCard{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);

}

.teamImg{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -9rem;
    z-index: 999;
    border: .5rem solid #ebeef8;

}

.teamName{
    font-size: 2.5rem;
    color: #333;
    margin: .8rem 0;
}

.TeamMember{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;

}

.me{
    font-size: 1.5rem;
    margin: 1.5rem ;
    font-style: italic;
    text-align: center;
    color: #333;

    height: 4rem;
    
}

.BOT{
    padding: 1rem 1rem;
    background-color: #e75480;
    border-radius: 1rem;
    /* margin: 1rem 0; */
    text-transform: uppercase;
    color: #eee;
    font-size: 1.2rem;
    transition: all .5s;
    text-decoration: none;

}

.BOT:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}
.BOT:active{
    transform: translateY(0);
    box-shadow: none;
}

.ulcard{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 0;
    padding-bottom: 0ch;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    max-height: 4rem;
}

.licard{
    font-size: 3rem;

}

.team{
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

@media screen and (min-width:700px){
    .cardWrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center ;

    }
    .cards{
        margin: 2rem;
        width: 100%;
        
    }
}


.mainUl li{
    /* max-width: 80%;  */
    /* width: 80%; */
    max-width: 420px;
    /* height: 25rem; */
    
}

.mainUl{
    display: flex;

    /* display: inline-block; */

    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    margin-left: 130px;
    margin-top: 70px;
}
 
/* 
.ameen{
    position: absolute;
    left: 500px;
} */
/* 
.cardWrapper{

    width: 70% !important;
    height: 70% !important;

    margin: 3rem !important;
    padding: auto !important;
    display:  !important;
    /* position: absolute;
    right: 40rem; */
/* }

block */ 