/* Global styles */
html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

/* Header style */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2222;
}

header .logo2{
    position: relative;
    font-weight: 700;
    top: 10px;
    left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky .logo2{
    color: black;
    top: 0;
    left: 0;
}
header.sticky2 .logo2{
    color: whitesmoke;
    top: 0;
    left: 0;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
    top: 10px;

}
header.sticky ul{

    top: 0;

}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:  0 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}
header ul li a:hover{
    color: #e75480;
}


header.sticky{
    padding:  5px 10px;
    background: #fff;
}
header.sticky2{
    padding:  5px 10px;
    background: #000;
}

header.sticky ul li a {
     color: black;
}
header.sticky2 ul li a {
    color: #fff;
}
header.sticky ul li a:hover {
    color: #e75480;
}
header #myPage a{
    color: #e75480;
    font-size: 1.3rem;
}

/* Main style */
main{
    width: 100%;
    height: 100%;
}
#preview{
    position: relative;
    width: 100%;
    height: 511px;
    top: 60px;
    background-color: white;
    z-index: 1;
}
#preview h3{
    font-size: 3.5rem;
    width: fit-content;
    font-family : 'Londrina Solid', cursive;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
    animation: font-pulse 3s infinite;
    transition-timing-function: cubic-bezier(0, 0.21, 1, 0.01), ease-in-out;
}
@keyframes font-pulse{
    0%{color:#ff3d49;}	
      100%{color: black;}
  }  
#overlay{
    width: 100%;
    position: absolute;
    top: -61px;
    height: 519px;
    background-color: #00000070;
}
#movie-player{
    width: 100%;
    height: 458px;
}
#trailer{
    width: 100%;
    height: 519px;
    position: relative;
    top: -61px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#trailer iframe{
    position: relative;
    top: 122px;
    z-index: 100;
}
/* card                             ////////////////////////////////////////////// */
#allMovies-Container{
    box-sizing: border-box;
    width: 64%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 172px;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto
}
.movies-container{
    padding: 0 !important;
    width: 15rem;
    margin:14px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    animation: pulse 1s infinite;
    height: 451px;
}
.movies-container img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
    width: 100%;
}
.details{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -58px;
}
.details .title{
    font-family: 'Oswald', sans-serif;
    font-size: 17pt;
    color: #241f1f;
    height: 1.5rem;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 0.75rem;
    text-align: center;;
}
.play_button{
    background-color: #ff3d49;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 175px;
    bottom: -12px;
    font-size: 27px;
    padding-left: 21px;
    padding-top: 16px;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
  }
  .play_button i::before{
    content: "\f04b";
    position: relative;
    top: 2px
  }
  .fa-star:before {
    content: "\f005";
    color: #e75480;
}
.rate i{
    font-size: 20px;
    color: #241f1f;
}
.category{
    color: #241f1f;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 16pt;
}
.randoms{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 3px;
}
.time{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 3px;
}
.year{
    color: #241f1f;
    width: fit-content;
    margin-right: 90px
} 
.duration{
    color: #241f1f;
    width: fit-content;
}
.rate{
    color: #241f1f;
    width: fit-content;
} 
.view{
    color: #241f1f;
    width: fit-content;
    margin-right: 20px   
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 #e75480;
    }
    70%{
        box-shadow: 0 0 0 3px #e75480;

    }
   
}

.btn{
    position: relative;
    width: fit-content;
    top: -219px;
    left: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.btn .watchlist, .btn .view-profile{
    width: 40px;
    height: 40px;
    margin: 0px 4px;
    text-align: center;
    border: 1px solid #e75480;
    background-color: #ff3d49;
    cursor: pointer;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    font-weight: bolder;
    font-size: 8pt;
    box-sizing: border-box;
    border-radius: 50%
}
.watchlist i::before, .view-profile i::before{
    font-size: 18pt;
    text-align: center;
}

/* cards                               //////////////////////////////////////// */
/* span a{
    text-decoration: none;
    color: black;
}
#options{
    display: none;
}
#options:hover {
    display: flex;
    color: white;
    position: relative;
    width: 226px;
    left: 49px;
    top: -4px;
}
#option-1 button{
    border: none;
    color: white;
    background-color: #00000045;
    margin: 10px;
}
#option-2 button{
    border: none;
    color: white;
    background-color: #00000045;
    margin: 10px;
}
#option-3 button{
    border: none;
    color: white;
    background-color: #00000045;
    margin: 10px;
} */
/* //////////////////////////////////////// */

@media screen and (min-width: 700px){
    #allMovies-Container{
        flex-direction: row;
        flex-wrap: wrap;
 }
}

/* footer style */
footer{
    width: 100%;
    height: 100%;
    position: relative;
    top: 15rem;
    left: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
}
.main-footer .logo2{
    display: block;
    color: #e75480;
    font-size: 2rem;
    margin-bottom: 25px;;
}
.main-footer ul {
    font-size: 16pt;
}
.main-footer ul li{
    margin: 14px 0;
}
.main-footer ul li a:hover{
    color: #e75480;
}
.social-media{
    font-size: 16pt;
    margin-top: 44px;
}
.social-media h5{
    display: block;
    color: #e75480;
    font-size: 1.5rem;
    margin-bottom: 25px;;
}
.social-media ul li{
    margin: 14px 0;
}
.contact{
    font-size: 16pt;
    margin-top: 44px;
    width: 430px;
}
.contact h5{
    display: block;
    color: #e75480;
    font-size: 1.5rem;
    margin-bottom: 25px;;
}
.contact ul li{
    margin: 14px 0;
}
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
#cope-rights{
    font-family: 'New Tegomin', serif;
    text-align: center;
    height: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
#phone-num{
    font-family: 'Roboto Slab', serif;
}
#email{
    font-family: 'Roboto Slab', serif;
}
.fa{
    background-color: white;
    color: black;
}
.social-media ul li a{
    width: 20px;
}