 /* footer footer footer footerfooter footerfooterfooterfooterfooterfooterfooterfooter */


 footer{
    background-color: black;
    color: white;
    width: 100%;  
    /* justify-content: center; */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.log00{
    width: 15%;
    margin-bottom: 30px;

}

footer h1{
    color: #e75480 ;
}

.copy{
    position: absolute;
    left: 1060px;
    top:  2420px;
}

.footerMain{
    position: absolute;
    left: 320px;
    top:  2330px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.footerMain h5 a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: white;
}


.footerMainh1{
    position: absolute;
    left: 290px;
    top:  2290px;
    font-size: 20px;
}

.footerFollowh5{
    position: absolute;
    left: 700px;
    top:  2330px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* text-decoration: none; */
    /* text-transform: uppercase; */
}

.footerFollowh5 h5 a{
    text-decoration: none;
    color: white;
    /* text-transform: uppercase; */

}

.footerFollowh1{
    position: absolute;
    left: 690px;
    top:  2290px;
    font-size: 20px;
}

.footerContacth5{
    position: absolute;
    left: 1050px;
    top:  2340px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    text-transform: uppercase;
}


.footerContacth1{
    position: absolute;
    left: 1150px;
    top:  2290px;
    font-size: 20px;
}

 /* footer footer footer footerfooter footerfooterfooterfooterfooterfooterfooterfooter */