.list-section {
    position: relative;
    border: 1px solid black;
    margin-bottom: 30px;
    left: 440px;
    top: 81px;
    width: 38%;
    height: 245px;
}
.list-section img {
    position: relative;
    left: 8px;
    top: 7px;
    width: 156px;
}
.info {
    position: relative;
    left: 175px;
    bottom: 185px;
    font-size: 30px;
}
.info h2{
    font-size: 30px;
    font-weight: bold;
}
button.remove {
    position: absolute;
    top: 11px;
    right: 19px;
}
button.moreInfo {
    width: 110px;
    height: 54px;
    background-color: #e75480;
    border: #e75480 solid 1px;
    cursor: pointer;
    bottom: 41px;
    right: 233px;
    position: absolute;
} 

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2222;
}

header .logo2{
    position: relative;
    font-weight: 700;
    top: 10px;
    left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky .logo2{
    color: black;
    top: 0;
    left: 0;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
    top: 10px;

}
header.sticky ul{

    top: 0;

}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:  0 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}
header ul li a:hover{
    color: #e75480;
}


header.sticky{
    padding:  5px 10px;
    background: #fff;
    /* border-radius: 100% 0% 100% 0% / 0% 20% 50% 20% ;  */

}

header.sticky ul li a {
     color: black;
}
header.sticky ul li a:hover {
    color: #e75480;
}
body{
    background-color: darkblue
}
.containar{
    width: 100%;
    height: 100vh;
    background-color: darkgreen;
}
.containar div{
    width: 50%;
    margin-left: 25%;
    height: 50vh;
    background-color: rgb(165, 231, 12);
    margin-top: 25vh;

}
.containar div img{
    width: 100%;
    height: 100%;
}